[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd \
  --name control3 \
  --cert-file=/etc/etcd/etcd-server.crt \
  --key-file=/etc/etcd/etcd-server.key \
  --peer-cert-file=/etc/etcd/etcd-server.crt \
  --peer-key-file=/etc/etcd/etcd-server.key \
  --trusted-ca-file=/etc/etcd/ca.crt \
  --peer-trusted-ca-file=/etc/etcd/ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://10.255.205.213:2380 \
  --listen-peer-urls https://10.255.205.213:2380 \
  --listen-client-urls https://10.255.205.213:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://10.255.205.213:2379 \
  --initial-cluster control1=https://10.255.205.199:2380,control2=https://10.255.205.212:2380,control3=https://10.255.205.213:2380 \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
